/*---product page---*/

.product-wrap-box {
    width: 21%;
    float: left;
    margin: 2% 2% 2% 2%;
  }
  
  .product-wrap h1 {
    padding: 4% 0 5% 0;
  }
  
  .product-img-wrap {
    height: 240px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }
  
  .product-img-wrap picture{
    object-fit: cover;
  }
  
  .product-img-wrap picture:hover img {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    box-shadow: 0 0x 20px rgba(0, 0, 0, 0.10) ;
  }
  
  .product-box img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
  }
  
  .product-details {
    text-align: left;
    padding: 8%;
    color: #505759;
  }
  
  .product-details a {
    font-weight: bold;
    text-decoration: none;
  }
  
  .product-details span {
    display: inline-block;
    width: 100%;
  }
  
  .product-details span p {
    font-weight: 600;
    display: inherit;
    padding: 2px 8px 0 0;
  }
  
  .description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

  .box:hover {
    box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.25);
    transition: .2s;
  }


  /* --- media quary ---*/

  @media only screen and (max-width: 1000px) {
    .product-wrap-box {
        width: 29%;
    }
  }

  @media only screen and (max-width: 680px) {
    .product-wrap-box {
        width: 46%;
    }
}

    @media only screen and (max-width: 400px) {
        .product-wrap-box {
            width: 98%;
        }
  }
  