body {
  margin: 0;
  font-family:  Open Sans,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #006f8f;
}

p {
  color: #505759;
  padding: 8px 0 8px 0;
  margin: 0;
}

h1 {
  color: #444;
}

button {
  margin: 8% auto;
  padding: 17px 22%;
  font-size: 14px;
  font-weight: 400;
  background: #007fa3;
  border: 1px solid #ccc;
  border-radius: 9999px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  display: block;
}

button:hover {
  background: #025f79;
  cursor: pointer;
}


/*---product page---*/

.product-wrap-box {
  width: 21%;
  float: left;
  margin: 2% 2% 5% 2%;
}

.product-wrap h1 {
  padding: 4% 0 5% 0;
}

.product-img-wrap {
  height: 240px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.product-img-wrap picture{
  object-fit: cover;
}

.product-img-wrap picture:hover img {
  transform: scale(1.1);
  transition: all .2s ease-in-out;
  box-shadow: 0 0x 20px rgba(0, 0, 0, 0.10) ;
}

.product-box img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.product-details {
  text-align: left;
  padding: 8%;
  color: #505759;
}

.product-details a {
  font-weight: bold;
  text-decoration: none;
}

.product-details span {
  display: inline-block;
  width: 100%;
}

.product-details span p {
  font-weight: 600;
  display: inherit;
  padding: 2px 8px 0 0;
}

.description {
  line-clamp: 2;
}

